<div class="preview">
    <div class="canvas">
        <app-canvas
            (selectColor)="onColorSelected($event)"
            [selectedColor]="selectedColor"
            [image]="image"
        ></app-canvas>
    </div>
    <div class="options">
        <mat-card *ngIf="previewImage">
            <h2>Preview</h2>
            <img [src]="previewImage" alt="" class="preview-image" />
        </mat-card>
        <mat-card *ngIf="image">
            <h2>Options</h2>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Colors</mat-label>
                    <input matInput type="number" name="colors" [(ngModel)]="colorCount" />
                </mat-form-field>
                <div>
                    <mat-label>Size</mat-label>&nbsp;&nbsp;
                    <mat-slider min="0" [max]="getSliderMaxFactor()" step="0.5" [(value)]="sizeFactor"></mat-slider>
                    <span>&nbsp;&nbsp;{{ sizeFactor }}%</span>
                    <div>Dimensions: {{ getDimension('width') }}px x {{ getDimension('height') }}px</div>
                </div>
            </div>
            <div class="action">
                <button color="primary" mat-raised-button (click)="onGenerate()">Generate</button>&nbsp;
                <button color="primary" mat-button (click)="onDownload()" [disabled]="isDownloading">Download</button>
            </div>
        </mat-card>
        <mat-card *ngIf="palette">
            <h2>Palette</h2>
            <div>Number of colors: {{ palette.length }}</div>
            <div class="palette" [class.has-highlighted]="hasHighlighted()">
                <div
                    *ngFor="let color of palette"
                    class="color"
                    [class.highlighted]="isColorSelected(color)"
                    [ngStyle]="{ 'background-color': color.toString() }"
                    (click)="onSelectColor(color)"
                ></div>
            </div>
        </mat-card>
    </div>
</div>
