:host {
    display: block;
}

.image-preview {
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;
    height: 344px;

    > div {
        padding: 12px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    > div:nth-child(1) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    > div:nth-child(2) {
        text-align: right;

        img {
            max-height: 320px;
            max-width: 100%;
        }
    }
}

.action {
  padding: 12px;
  text-align: right;
}

.file-picker {
    border: 3px dotted gray;
    border-radius: 8px;
}

ngx-file-drop {
    div {
        padding: 12px;
    }

    .mat-typography {
        font-size: 24px;
        color: inherit;
    }
}
