<div [ngStyle]="{ width: width + 48 + 'px', height: height + 48 + 'px' }">
    <svg [attr.width]="width" [attr.height]="height" [class.has-highlighted]="!!selectedColor">
        <line
            *ngFor="let line of lines"
            [ngStyle]="{ 'stroke-width': lineWidth }"
            [attr.x1]="line.x1"
            [attr.y1]="line.y1"
            [attr.x2]="line.x2"
            [attr.y2]="line.y2"
        />

        <rect
            *ngFor="let pixel of pixels"
            [ngStyle]="{
                fill: pixel.pixel.color.toString(),
                'stroke-width': 1,
                stroke: isPixelHighlighted(pixel.pixel) ? 'yellow' : 'transparent'
            }"
            [attr.x]="pixel.x"
            [attr.y]="pixel.y"
            [attr.width]="pixelSize"
            [attr.height]="pixelSize"
            (click)="onPixelClick(pixel.pixel)"
            [class.highlighted]="isPixelHighlighted(pixel.pixel)"
            [matTooltip]="'[ ' + pixel.pixel.x + ', ' + pixel.pixel.y + ' ]'"
        />
    </svg>
</div>
