<div [ngStyle]="{ width: width + 48 + 'px', height: height + 48 + 'px' }">
    <svg *ngIf="svgPixels" [attr.width]="width" [attr.height]="height" [class.has-highlighted]="!!selectedColor" [attr.id]="'canvas'">
        <line
            *ngFor="let line of lines"
            [ngStyle]="{ 'stroke-width': lineWidth }"
            [attr.x1]="line.x1"
            [attr.y1]="line.y1"
            [attr.x2]="line.x2"
            [attr.y2]="line.y2"
        />

        <rect
            *ngFor="let svgPixel of svgPixels; trackBy: trackByFn"
            [ngStyle]="{
                fill: svgPixel.pixel.color.toString(),
                'stroke-width': 1,
                stroke: isPixelSelected(svgPixel.pixel) ? 'yellow' : 'transparent'
            }"
            [attr.x]="svgPixel.x"
            [attr.y]="svgPixel.y"
            [attr.width]="pixelSize"
            [attr.height]="pixelSize"
            (click)="onPixelClick(svgPixel.pixel)"
            [class.highlighted]="isPixelSelected(svgPixel.pixel)"
            [matTooltip]="'[ ' + svgPixel.pixel.x + ', ' + svgPixel.pixel.y + ' ]'"
            #pixels
        />
    </svg>
</div>
